body {
  font-family: helvetica;
  font-weight: lighter;
  color: red;
}

img {
  width: 20%;
  border-color: blue;
  border-style: solid;
  border-width:1px;
  border-radius: 15px;
}
p em:nth-of-type(3) {
  color:black;
  font-size: 30px;
  border-radius: 30px;
  background-color: red;

}
p em:nth-of-type(2) {
  color:black;
  font-size: 30px;
  border-radius: 30px;
  background-color: #e08bff;

}
p em {
  color:black;
  font-size: 30px;
  border-radius: 30px;
  background-color: grey;
}

#events {
  font-family: helvetica;
  font-style: italic;
  font-weight: lighter;
  color: black;
}
.back {
  margin-right: 2px;
  padding: 10px;
  opacity: 0.9;
  background: rgb(29,255,0);
  background: linear-gradient(180deg, rgba(29,255,0,1) 0%, rgba(29,255,0,1) 35%, rgba(255,255,255,1) 100%);
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  color: red;
  margin-top: 0px;
  position: fixed;
  right: 0;
  bottom: 0;
}
.addevents {
  margin-right: 2px;
  padding: 10px;
  opacity: 0.9;
  background: rgb(29,255,0);
  background: linear-gradient(180deg, rgba(29,255,0,1) 0%, rgba(29,255,0,1) 35%, rgba(255,255,255,1) 100%);
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  color: red;
  margin-top: 0px;
  position: fixed;
  right: 0;
  top: 0;
}
p a {
  font-style: italic;
  color:black;
  font-size: 30px;
  border-radius: 30px;
  background: rgb(255,229,0);
  background: linear-gradient(180deg, rgba(255,229,0,1) 0%, rgba(255,255,255,1) 100%);
}
a:link {
  color: black;
	text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
	text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #ae00ff;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
	text-decoration: none;
}
