body {
    font-family: helvetica;
    font-weight: lighter;
    background-image: url(i/1.gif);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: repeat;
    background-size: cover;
  }
/* body {
  font-family: helvetica;
  background-image: url(i/1.gif);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.intro {
  width: 70vw;
  font-size: 2vw;
}

.intro p:nth-of-type(1) {
  font-weight: lighter;
  font-style: italic;
  opacity: 90%;
  border-radius: 25px;
  background-color: #06ff00;
  border-radius: 25px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-family: helvetica;
  color: black;
}

.intro p:nth-of-type(2) {
  font-weight: lighter;
  opacity: 90%;
  border-radius: 25px;
  background-color: #06ff00;
  border-radius: 25px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-family: helvetica;
  color: black;
}

.intro p:nth-of-type(3) {
  font-weight: lighter;
  font-style: italic;
  opacity: 90%;
  border-radius: 25px;
  background-color: #06ff00;
  border-radius: 25px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-family: helvetica;
  color: black;
}

.intro p:nth-of-type(4) {
  font-weight: lighter;
  opacity: 90%;
  border-radius: 25px;
  background-color: #06ff00;
  border-radius: 25px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-family: helvetica;
  color: black;
}
.intro p:nth-of-type(5) {
  font-weight: lighter;
  font-style: italic;
  opacity: 90%;
  border-radius: 25px;
  background-color: #06ff00;
  border-radius: 25px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-family: helvetica;
  color: black;
}

.intro p:nth-of-type(6) {
  font-weight: lighter;
  opacity: 90%;
  border-radius: 25px;
  background-color: #06ff00;
  border-radius: 25px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-family: helvetica;
  color: black;
}

.ok {
  margin-top:100px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 80px;
  text-align: center;
  background-color: yellow;
  width: 100vw;
  height: 10vh;
  position: fixed;
  right:0;
  bottom: 0;
}
.ok a {
  font-size: 60px;
}
a {
  text-decoration: none;
  color: black;
}

a:before {
  text-decoration: none;
}

a:active {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;

}

a:after {
  color: black;
  text-decoration: none;
}
